<mat-card class="card-wrapper">
  <mat-card-header>
    <mat-card-title>
      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-subtitle>{{category}}</mat-card-subtitle>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image alt="" [src]="image" class="card-image">
  <mat-card-content>
    <p class="description">

      {{description}}
    </p>
  </mat-card-content>
  <mat-card-actions class="card-button">
    <button mat-flat-button  >Купити</button>
  </mat-card-actions>
</mat-card>
