<mat-card class="card-wrapper">
  <mat-card-header>
    <mat-card-title>
      <mat-card-title>Macbook</mat-card-title>
      <mat-card-subtitle>ноутбуки</mat-card-subtitle>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://content.rozetka.com.ua/goods/images/big/215770075.jpg" class="card-image">
  <mat-card-content>
    <p>
      Найкращий ноутбук для Ігорів і не тільки. 16 ядер Neural Link і 24 ядра допоможуть підняти вашу продуктивність прямо до підлоги!
    </p>
  </mat-card-content>
  <mat-card-actions class="card-button">
    <button mat-flat-button>Купити</button>
  </mat-card-actions>
</mat-card>
