@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  .background {
    background-color: mat.get-theme-color($theme, primary-container);
  }
  .title {
    color: mat.get-theme-color($theme, primary);
  }

}

@mixin typography($theme) {
  .title {
    font: mat.get-theme-typography($theme, headline-large, font);
  }
  .description{
    font: mat.get-theme-typography($theme, label-medium, font);
  }

}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }


  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}
